<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">

  <!-- <!import css and bootstrap> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

<div class = "header">

<!-- <!header of the site> -->
    <!-- nav menu for the web -->
<ul>
  <li><a href="/contact">Contact Us</a></li>  
  <li><a href ="/all">All Articles</a></li>
  <li><a href="/">Home</a></li>

</ul>
</div>

 <!-- title of the page -->
<title>Blog</title>
</head>
<body>
<div class="container">
<h1 class = "mb-4">All articles <i class="fa fa-book"></i></h1>

<!-- <! Show the article that exist> -->
<!-- this page is use to show all the articles which is available -->

<% articles.forEach(article =>{%>
  <div class = "card mt-4">
    <div class = "card-body">     
      <!-- show the title of the article -->
      <h4 class = "card-title"><%= article.title %></h4>      

        <!-- show the date of created of the article -->
      <div class = "card-subtitle text-muted mb-2">
      <%= article.createdAt.toLocaleDateString()%>
      </div>
          <!-- show the description of the article -->
      <div class="card-text mb-2"><%= article.description%>
      </div>
      <!-- buttons for user to delete,edit or read the whole blog -->
      <a href ="articles/<%=article.slug%>" class = "btn btn-primary">Read more</a>
      <a href ="articles/edit/<%=article.id%>" class = "btn btn-info">Edit Post</a>
      <form action="/articles/<%=article.id%>?_method=DELETE" method="POST" class="d-inline">
        <button type = "sumbit" class = "btn btn-danger">Delete</button>
      </form>
</div>
</div>
<%  }) %>

<!-- <! create footer for the site> -->
<footer class="footer">

      <div class="footer-left">

        <h3>The Daily<span>Blog</span></h3>

        <p class="footer-links">
          <a href="/" class="link-1">Home</a>   
          <a href="/contact">Contact</a>
        </p>

        <p class="footer-company-name">Daily Blog © 2023</p>
      </div>

      <div class="footer-center">


        <!-- phone no -->
        <div>
          <i class="fa fa-phone"></i>
          <p>+353234505445</p>
        </div>

        <div>
          <!-- email -->
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:abc@thedailyblog.com">abc@thedailyblog.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the website</span>
          We are a blog website to let you share your own story
        </p>

        <div class="footer-icons">
        <!-- icon of the footer -->
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>  
        <a href="https://twitter.com/login" class="fa fa-twitter"></a>  
        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>  
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>  

        </div>

      </div>

    </footer>


</div>


<!-- <!css to decorate the website> -->
<style>

/* heading css */
h1{
  margin-top:15px;
}
h2{
  margin-bottom:20px
}
body{
  background-image: url(https://cdn.wallpapersafari.com/16/74/56vWLQ.jpg);
  opacity: 0.9;
}

.header a{
color:rgb(2, 3, 3);
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-bottom: 3px solid transparent;
}

/* css for nav menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
li {
display: inline;
float: right;
padding:5px;
}



/* footer css */
footer{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 20px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
  display: inline-block;
  vertical-align: top;
}


footer .footer-left{
  width: 40%;
}

/* The company logo */

footer h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

footer h3 span{
  color:  lightseagreen;
}

/* Footer links */

footer .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

footer .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

footer .footer-center{
  width: 35%;
}

footer .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

footer .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

footer .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

footer .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

footer .footer-right{
  width: 20%;
}

footer .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

footer .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-icons{
  margin-top: 25px;
}

footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


</style>
</body>

</html>