<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">

  <!-- <!import css and bootstrap> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   

<div class = "head">
<!-- <!header of the site> -->
<ul>
  <li><a href="/contact">Contact Us</a></li>  
  <li><a href ="/all">All Articles</a></li>
  <li><a href="/">Home</a></li>
</ul>

<!-- header of the blog -->
<h1 class = "mb-4">The Daily Blog <i class="fa fa-book"></i></h1>
<h2 class = "mb-4">Read the other side of the story <i class="fa fa-globe"> </i></h2>
</div>

<!-- logout button for the login users -->
<form class="logout" action='/logout?_method=DELETE' method="POST"><button type ='submit'class = "btn btn-danger">Log Out</button></form>


<!-- title of the page -->
<title>Blog</title>
</head>



<body>
<div class="container">


<!-- greet with the login user -->
<h3>Hello <%=name%>, welcome back</h3>

<!-- button to create a new article -->
<a href = "/articles/new" class="btn btn-success"> New Article <i class="fa fa-pencil"></i></a>
<br>
<div class= 'intro'>
<h2>Introduction :</h2> 
<p>Welcome to the daily blog, you can post anything you want as a blog! Let's describe a blog : 
  A blog features diary-type commentary and links to articles on other websites, 
  usually presented as a list of entries in reverse chronological order. 
  Blogs range from the personal to the political, and can focus on one narrow subject or a whole range of subjects. So, let's dive in and share your life!</p>
</div>
<!-- <! Show 10 article that exist> -->
<% articles.slice(0,10).forEach(article =>{%>
  <div class = "card mt-4">
    <div class = "card-body">
      <!-- get the articles title -->
      <h4 class = "card-title"><%= article.title %></h4>
      <!-- get the date of created -->
      <div class = "card-subtitle text-muted mb-2">
      <%= article.createdAt.toLocaleDateString()%>
      </div>
      <!-- get the articles's author -->
      <div class="card-text mb-2">Author: <%=article.author%></div>
      <!-- get the articles's description -->
      <div class="card-text mb-2"><%= article.description%>
      </div>

      <!-- button for users to read the whole artile, edit or delete the post -->
      <a href ="articles/<%=article.slug%>" class = "btn btn-primary">Read more</a>
      <a href ="articles/edit/<%=article.id%>" class = "btn btn-info">Edit Post</a>
      <form action="/articles/<%=article.id%>?_method=DELETE" method="POST" class="d-inline">
        <button type = "sumbit" class = "btn btn-danger">Delete</button>
      </form>
</div>
</div>

<%  }) %>

<!-- <! create footer for the site> -->
<footer class="footer">

      <div class="footer-left">

        <h3>The Daily<span>Blog</span></h3>

        <p class="footer-links">
          <a href="/" class="link-1">Home</a>   
          <a href="/contact">Contact</a>
        </p>

        <p class="footer-company-name">Daily Blog © 2023</p>
      </div>

      <div class="footer-center">


        <!-- phone no -->
        <div>
          <i class="fa fa-phone"></i>
          <p>+353234505445</p>
        </div>

        <!-- email -->
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:abc@thedailyblog.com">abc@thedailyblog.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the website</span>
          We are a blog website to let you share your own story
        </p>

        <div class="footer-icons">

        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>  
        <a href="https://twitter.com/login" class="fa fa-twitter"></a>  
        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>  
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>  

        </div>

      </div>

    </footer>


</div>


<!-- <!css to decorate the website> -->
<style>

/* place the logout button into the right place */
.logout .btn {
    position: absolute;
    top:70px;
    right: 19px;
}

/* header */

.mb-4{
  padding-left: 110px;
}
.head a{
color:rgb(2, 3, 3);
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

body{
  background-image: url(https://cdn.wallpapersafari.com/16/74/56vWLQ.jpg);
  opacity: 0.9;
}


/* give intro class a  border and spacing */
.intro {
    margin: 10px 0;
    padding: 3px;
    border: 3px solid #000000;
    background-color: #ffffff;
}

/* nav menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid ;

}
li {
display: inline;
float: right;
padding:5px;

}




footer{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 20px;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
  display: inline-block;
  vertical-align: top;
}


footer .footer-left{
  width: 40%;
}

/* The company logo */

footer h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

footer h3 span{
  color:  lightseagreen;
}

/* Footer links */

footer .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

footer .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

footer .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

footer .footer-center{
  width: 35%;
}

footer .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

footer .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

footer .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

footer .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

footer .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

footer .footer-right{
  width: 20%;
}

footer .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

footer .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-icons{
  margin-top: 25px;
}

footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


</style>
</body>

</html>